/**************** INTRO SECTION ****************/
#intro {
  padding-top: 200px;
  height: 600px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../images/mac-code-editor-yellow-mug-plant.jpg");
  background-size: cover;
  background-position: center;
}

/**************** ABOUT SECTION ****************/
#about {
  background-color: #335384;
}

/**************** PORTFOLIO SECTION ****************/
#portfolio {
  background-color: #335384;
}

/**************** CONTACT SECTION ****************/
@media screen and (min-width: 331px) {
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .d-xs-inline {
    display: inline !important;
  }
}
#email-link {
  color: rgba(0, 0, 0, 0.541);
}
#email-link:hover {
  color: rgba(255, 255, 255, 0.541);
}
.footer-icon {
  color: rgba(255, 255, 255, 0.541);
  font-size: 30px;
}
.footer-icon:hover {
  color: white;
}
